{% extends 'master.html' %}
{% load static %}

{% block body %}
<hr>
<br>

<section class="container" style="margin-top:5%;">
    <h1>Specifications of {{tata_car.car_name}}
                          {{jaguar.car_name}}
                            {{mahindra.car_name}}
                            {{hundai.car_name}}
                            {{honda.car_name}}
                            {{ford.car_name}}
                            {{renult.car_name}}
                            {{nissan.car_name}}
                            {{datsun.car_name}}
                            {{jaguar.car_name}}
                            {{jaguar.car_name}}
                            {{jaguar.car_name}}
                            {{jaguar.car_name}}
                            {{jaguar.car_name}}</h1>
    <hr style="background-color:red;">
    <section class="card" style="background-color:#fffdd0;">
    <section class="row" style="width:90%;">
        <section class="col" style="padding:10px;">
            <section style="width:40%;float:left;padding:10px;height:300px;">
            <img src="/media/{{tata_car.main_img}}{{jaguar.main_img}}{{mahindra.main_img}}{{hundai.main_img}}" style="width:100%;height:100%;">
            </section>
            <section style="width:60%;float:right;padding:25px;">
                <p style="font-size:38px;margin-left:20px;">{{tata_car.car_name}}
                               {{jaguar.car_name}}
                                {{mahindra.car_name}}
                                {{hundai.car_name}}
                                {{honda.car_name}}
                                {{ford.car_name}}
                                {{renult.car_name}}
                                {{nissan.car_name}}
                                {{datsun.car_name}}
                                {{jaguar.car_name}}</p>
                                {{jaguar.car_name}}</p>
                                {{jaguar.car_name}}</p>
                                {{jaguar.car_name}}</p>
                 <section class="row" style="margin-left:25px;">
                    <i class='fas fa-star' style='font-size:20px;color:orange;'></i>
                    <i class='fas fa-star' style='font-size:20px;color:orange;'></i>
                    <i class='fas fa-star' style='font-size:20px;color:orange;'></i>
                    <i class='fas fa-star' style='font-size:20px;color:orange;'></i>
                    <i class='fas fa-star' style='font-size:20px;'></i>&nbsp;&nbsp;<h5 style="color:blue;">{{tata_car.reviews}}
                                                                              {{jaguar.reviews}}
                                                                             {{mahindra.reviews}}
                                                                             {{hundai.reviews}}
                                                                             {{honda.reviews}}
                                                                             {{ford.reviews}}
                                                                             {{renult.reviews}}
                                                                             {{nissan.reviews}}
                                                                             {{datsun.reviews}}
                                                                             {{jaguar.reviews}}Reviews</h5>
                                                                             {{jaguar.reviews}}Reviews</h5>
                                                                             {{jaguar.reviews}}Reviews</h5>
                                                                             {{jaguar.reviews}}Reviews</h5>
                                                                             {{jaguar.reviews}}Reviews</h5>
                                                                             {{jaguar.reviews}}Reviews</h5>

                 </section>

                <p style="font-size:25px;margin-left:20px;"><b>{{tata_car.ex_showroom_price}}
                                  {{jaguar.ex_showroom_price}}
                                    {{mahindra.ex_showroom_price}}
                                    {{hundai.ex_showroom_price}}
                                    {{honda.ex_showroom_price}}
                                    {{ford.ex_showroom_price}}
                                    {{nissan.ex_showroom_price}}
                                    {{renult.ex_showroom_price}}
                                    {{datsun.ex_showroom_price}}
                                    {{jaguar.ex_showroom_price}}


                    <small>Get On Road Price</small></b></p>
                <p style="font-size:15px;margin-left:20px;color:blue;"><b>(Ex Show Room Price in {{tata_car.price_in_city}}
                                                         {{jaguar.price_in_city}}
                                                        {{mahindra.price_in_city}}
                                                        {{hundai.price_in_city}}
                                                        {{honda.price_in_city}}
                                                        {{ford.price_in_city}}
                                                        {{renult.price_in_city}}
                                                        {{nissan.price_in_city}}
                                                        {{datsun.price_in_city}}
                                                        {{jaguar.price_in_city}})
                                                        {{jaguar.price_in_city}})
                                                        {{jaguar.price_in_city}})
                                                        {{jaguar.price_in_city}})
                                                        {{jaguar.price_in_city}})
                </b></p>

                <a href="{{i.car_name}}"><button class="btn btn-dark" style="font-size:25px;margin-left:20px;"><b>View Details</b></button></a>
            </section>
        </section>
    </section>
    </section>



</section>
<br>

<section class="container" style="background-color:#fffdd0;">
    <h1>{{tata_car.car_name}}
        {{jaguar.car_name}}
        {{mahindra.car_name}}
        {{hundai.car_name}}
        {{honda.car_name}}
        {{ford.car_name}}
        {{renult.car_name}}
        {{nissan.car_name}}
        {{datsun.car_name}}
        {{jaguar.car_name}}
        {{jaguar.car_name}}
        {{jaguar.car_name}}
        {{jaguar.car_name}}
        {{jaguar.car_name}}
        Specs, Features and Price</h1>
    <hr style="background-color:red;">
    <p style="font-size:20px;">{{tata_car.specs_features_and_price}}
                   {{jaguar.specs_features_and_price}}
                    {{mahindra.specs_features_and_price}}
                    {{hundai.specs_features_and_price}}
                    {{honda.specs_features_and_price}}
                    {{ford.specs_features_and_price}}
                    {{renult.specs_features_and_price}}
                    {{nissan.specs_features_and_price}}
                    {{datsun.specs_features_and_price}}
                    {{jaguar.specs_features_and_price}}
                    {{jaguar.specs_features_and_price}}
                    {{jaguar.specs_features_and_price}}
                    {{jaguar.specs_features_and_price}}
                    {{jaguar.specs_features_and_price}}
    </p>
</section>
<br>
<br>

<!-- three images of car -->
<section class="container">
  <h2>Standout Features of {{tata_car.car_name}}
                           {{jaguar.car_name}}
                              {{mahindra.car_name}}
                              {{hundai.car_name}}
                              {{honda.car_name}}
                              {{ford.car_name}}
                              {{renult.car_name}}
                              {{nissan.car_name}}
                              {{datsun.car_name}}
                              {{jaguar.car_name}}
                              {{jaguar.car_name}}
                              {{jaguar.car_name}}
                              {{jaguar.car_name}}
                              {{jaguar.car_name}}</h2>
  <br style="background-color: red;">
    <div class="row mx-auto">
        <div class="col" style="width:33.33%">

            <div class="card mx-auto mb-3" >
                  <img src="/media/{{tata_car.first_img}}{{jaguar.first_img}}{{mahindra.first_img}}"
                       style="width:100%;height:250px;">
                 <h1 style="text-align:center;text-decoration:none;color:white"></h1>

            </div>
        </div>
        <div class="col" style="width:33.33%">

            <div class="card mx-auto mb-3" >
                  <img src="/media/{{tata_car.second_img}}{{jaguar.second_img}}{{mahindra.second_img}}" style="width:100%;height:250px;">
                 <h1 style="text-align:center;text-decoration:none;color:white"></h1>

            </div>
        </div>
        <div class="col" style="width:33.33%">

            <div class="card mx-auto mb-3" >
                  <img src="/media/{{tata_car.third_img}}{{jaguar.third_img}}{{mahindra.third_img}}" style="width:100%;height:250px;">
                 <h1 style="text-align:center;text-decoration:none;color:white"></h1>

            </div>
        </div>
    </div>
</section>
<br>
<!-- three images of car close hera -->
<!-- key spacification of cars -->
<section class="container">
    <h1>Key Specifications of {{tata_car.car_name}}
                              {{jaguar.car_name}}
                                {{mahindra.car_name}}
                                {{hundai.car_name}}
                                {{honda.car_name}}
                                {{ford.car_name}}
                                {{renult.car_name}}
                                {{nissan.car_name}}
                                {{datsun.car_name}}
                                {{datsun.car_name}}
                                {{datsun.car_name}}
                                {{datsun.car_name}}
                                {{datsun.car_name}}
        {{datsun.car_name}}</h1>
    <hr style="background-color:orange;">
    <div class="row">
    <div class="col" style="width:50%;float:left;">
    <table class="table table-hover">
    <tbody>
      <tr>
        <td>ARAI Mileage</td>
        <td>{{tata_car.ARAI_Mileage}}
            {{jaguar.ARAI_Mileage}}
            {{mahindra.ARAI_Mileage}}
            {{hundai.ARAI_Mileage}}
            {{honda.ARAI_Mileage}}
            {{ford.ARAI_Mileage}}
            {{renult.ARAI_Mileage}}
            {{nissan.ARAI_Mileage}}
            {{datsun.ARAI_Mileage}}
            {{jaguar.ARAI_Mileage}}
            {{jaguar.ARAI_Mileage}}
            {{jaguar.ARAI_Mileage}}
            {{jaguar.ARAI_Mileage}}</td>
      </tr>

    <tr>
        <td>Fuel Type</td>
        <td>{{tata_car.Fuel_Type}}
            {{jaguar.Fuel_Type}}
            {{mahindra.Fuel_Type}}
            {{hundai.Fuel_Type}}
            {{honda.Fuel_Type}}
            {{ford.Fuel_Type}}
            {{renult.Fuel_Type}}
            {{nissan.Fuel_Type}}
            {{datsun.Fuel_Type}}
            {{jaguar.Fuel_Type}}</td>
      </tr>

    <tr>
        <td>Engine Displacement (cc)</td>
        <td>{{tata_car.Engine_Displacement}}
            {{jaguar.Engine_Displacement}}
            {{mahindra.Engine_Displacement}}
            {{hundai.Engine_Displacement}}
            {{honda.Engine_Displacement}}
            {{ford.Engine_Displacement}}
            {{renult.Engine_Displacement}}
            {{nissan.Engine_Displacement}}
            {{datsun.Engine_Displacement}}
            {{jaguar.Engine_Displacement}}</td>
      </tr>

      <tr>
        <td>Max Power (bhp@rpm)</td>
        <td>{{tata_car.Max_Power}}
            {{jaguar.Max_Power}}
            {{mahindra.Max_Power}}
            {{hundai.Max_Power}}
            {{honda.Max_Power}}
            {{ford.Max_Power}}
            {{renult.Max_Power}}
            {{nissan.Max_Power}}
            {{datsun.Max_Power}}
            {{jaguar.Max_Power}}
            {{jaguar.Max_Power}}
        </td>
      </tr>

      <tr>
        <td>Max Torque (nm@rpm)</td>
        <td>{{tata_car.Max_Torque}}
            {{jaguar.Max_Torque}}
        {{mahindra.Max_Torque}}
        {{hundai.Max_Torque}}
        {{honda.Max_Torque}}
        {{ford.Max_Torque}}
        {{nissan.Max_Torque}}
            {{renult.Max_Torque}}
            {{datsun.Max_Torque}}
            {{jaguar.Max_Torque}}
        </td>
      </tr>

      <tr>
        <td>Seating Capacity</td>
        <td>{{tata_car.Seating_Capacity}}
            {{jaguar.Seating_Capacity}}
        {{mahindra.Seating_Capacity}}
        {{hundai.Seating_Capacity}}
        {{honda.Seating_Capacity}}
        {{ford.Seating_Capacity}}
        {{renult.Seating_Capacity}}
            {{nissan.Seating_Capacity}}
            {{datsun.Seating_Capacity}}
            {{jaguar.Seating_Capacity}}
        </td>
      </tr>

    </tbody>
  </table>
  </div>



  <div class="col" style="width:40%;float:right;">

      <table class="table table-hover">
           <tbody>
                  <tr>
                    <td>TransmissionType</td>
                    <td>{{tata_car.TransmissionType}}
                        {{jaguar.TransmissionType}}
                    {{mahindra.TransmissionType}}
                    {{hundai.TransmissionType}}
                    {{honda.TransmissionType}}
                    {{renult.TransmissionType}}
                    {{ford.TransmissionType}}
                    {{nissan.TransmissionType}}
                        {{datsun.TransmissionType}}
                        {{jaguar.TransmissionType}}
                    </td>
                  </tr>

                 <tr>
                    <td>Boot Space (Litres)</td>
                    <td>{{tata_car.Boot_Space}}
                        {{jaguar.Boot_Space}}
                    {{mahindra.Boot_Space}}
                    {{hundai.Boot_Space}}
                    {{honda.Boot_Space}}
                    {{ford.Boot_Space}}
                    {{renult.Boot_Space}}
                    {{nissan.Boot_Space}}
                    {{datsun.Boot_Space}}
                    {{jaguar.Boot_Space}}</td>
                  </tr>

                 <tr>
                    <td>Fuel Tank Capacity</td>
                    <td>{{tata_car.Fuel_Tank_Capacity}}
                        {{jaguar.Fuel_Tank_Capacity}}
                    {{mahindra.Fuel_Tank_Capacity}}
                    {{hundai.Fuel_Tank_Capacity}}
                        {{honda.Fuel_Tank_Capacity}}
                        {{ford.Fuel_Tank_Capacity}}
                        {{renult.Fuel_Tank_Capacity}}
                        {{nissan.Fuel_Tank_Capacity}}
                        {{datsun.Fuel_Tank_Capacity}}
                        {{jaguar.Fuel_Tank_Capacity}}


                    </td>
                  </tr>

                  <tr>
                    <td>Body Type</td>
                    <td>{{tata_car.Body_Type}}
                        {{jaguar.Body_Type}}
                    {{mahindra.Body_Type}}
                    {{hundai.Body_Type}}
                    {{honda.Body_Type}}
                    {{ford.Body_Type}}
                    {{renult.Body_Type}}
                    {{nissan.Body_Type}}
                    {{datsun.Body_Type}}
                    {{jaguar.Body_Type}}</td>
                  </tr>

                  <tr>
                    <td>Service Cost (Avg. of 5 years)</td>
                    <td>{{tata_car.Service_Cost}}
                        {{jaguar.Service_Cost}}
                    {{mahindra.Service_Cost}}
                    {{hundai.Service_Cost}}
                    {{honda.Service_Cost}}
                    {{ford.Service_Cost}}
                    {{renult.Service_Cost}}
                        {{nissan.Service_Cost}}
                        {{datsun.Service_Cost}}
                        {{jaguar.Service_Cost}}
                    </td>
                  </tr>

            </tbody>
          </table>

           </div>
     </div>
</section>
<!-- key spacification close hear -->
<br>
<br>
<!-- key features start hear -->
<section class="container">
    <h1>Key Features of {{tata_car.car_name}}
                        {{jaguar.car_name}}
                        {{mahindra.car_name}}
                        {{hundai.car_name}}
                        {{honda.car_name}}
                        {{renult.car_name}}
                        {{ford.car_name}}
                        {{nissan.car_name}}
                        {{datsun.car_name}}
                        {{jaguar.car_name}}</h1>
    <hr style="background-color:orange;">
    <div class="row">
    <div class="col" style="width:50%;float:left;">
    <table class="table table-hover">
    <tbody>
      <tr>
        <td>Power Steering</td>
        <td>{{tata_car.Power_Steering}}
            {{jaguar.Power_Steering}}
            {{mahindra.Power_Steering}}
            {{hundai.Power_Steering}}
            {{honda.Power_Steering}}
            {{ford.Power_Steering}}
            {{renult.Power_Steering}}
            {{nissan.Power_Steering}}
            {{datsun.Power_Steering}}
            {{jaguar.Power_Steering}}
            {{jaguar.Power_Steering}}
        </td>
      </tr>

    <tr>
        <td>Anti Lock Braking System</td>
        <td>{{tata_car.Anti_Lock_Braking_System}}
            {{jaguar.Anti_Lock_Braking_System}}
        {{mahindra.Anti_Lock_Braking_System}}
        {{hundai.Anti_Lock_Braking_System}}
        {{honda.Anti_Lock_Braking_System}}
        {{renult.Anti_Lock_Braking_System}}
        {{ford.Anti_Lock_Braking_System}}
        {{nissan.Anti_Lock_Braking_System}}
        {{datsun.Anti_Lock_Braking_System}}
        {{jaguar.Anti_Lock_Braking_System}}</td>
      </tr>

    <tr>
        <td>Driver Airbag</td>
        <td>{{tata_car.Driver_Airbag}}
            {{jaguar.Driver_Airbag}}
        {{mahindra.Driver_Airbag}}
        {{hundai.Driver_Airbag}}
        {{honda.Driver_Airbag}}
        {{ford.Driver_Airbag}}
        {{renult.Driver_Airbag}}
        {{nissan.Driver_Airbag}}
        {{datsun.Driver_Airbag}}
        {{jaguar.Driver_Airbag}}</td>
      </tr>

    <tr>
        <td>Automatic Climate Control</td>
        <td>{{tata_car.Automatic_Climate_Control}}
            {{jaguar.Automatic_Climate_Control}}
        {{mahindra.Automatic_Climate_Control}}
        {{hundai.Automatic_Climate_Control}}
        {{honda.Automatic_Climate_Control}}
        {{renult.Automatic_Climate_Control}}
        {{ford.Automatic_Climate_Control}}
        {{nissan.Automatic_Climate_Control}}
        {{datsun.Automatic_Climate_Control}}
        {{jaguar.Automatic_Climate_Control}}</td>
      </tr>

    <tr>
        <td>Alloy Wheels</td>
        <td>{{tata_car.Alloy_Wheels}}
            {{jaguar.Alloy_Wheels}}
        {{mahindra.Alloy_Wheels}}
        {{hundai.Alloy_Wheels}}
        {{honda.Alloy_Wheels}}
        {{ford.Alloy_Wheels}}
        {{nissan.Alloy_Wheels}}
        {{renult.Alloy_Wheels}}
        {{datsun.Alloy_Wheels}}
        {{jaguar.Alloy_Wheels}}</td>
      </tr>

    </tbody>
  </table>
  </div>



  <div class="col" style="width:40%;float:right;">

      <table class="table table-hover">
           <tbody>
                  <tr>
                    <td>Power Windows Front</td>
                    <td>{{tata_car.Power_Windows_Front}}
                        {{jaguar.Power_Windows_Front}}
                    {{mahindra.Power_Windows_Front}}
                    {{hundai.Power_Windows_Front}}
                    {{honda.Power_Windows_Front}}
                    {{ford.Power_Windows_Front}}
                    {{renult.Power_Windows_Front}}
                    {{nissan.Power_Windows_Front}}
                    {{datsun.Power_Windows_Front}}
                        {{jaguar.Power_Windows_Front}}
                    </td>
                  </tr>

                 <tr>
                    <td>Air Conditioner</td>
                    <td>{{tata_car.Air_Conditioner}}
                        {{jaguar.Air_Conditioner}}
                    {{mahindra.Air_Conditioner}}
                    {{hundai.Air_Conditioner}}
                    {{honda.Air_Conditioner}}
                    {{ford.Air_Conditioner}}
                    {{renult.Air_Conditioner}}
                    {{nissan.Air_Conditioner}}
                    {{datsun.Air_Conditioner}}
                    {{jaguar.Air_Conditioner}}</td>
                  </tr>

                 <tr>
                    <td>Passenger Airbag</td>
                    <td>{{tata_car.Passenger_Airbag}}
                        {{jaguar.Passenger_Airbag}}
                    {{mahindra.Passenger_Airbag}}
                    {{hundai.Passenger_Airbag}}
                    {{honda.Passenger_Airbag}}
                    {{ford.Passenger_Airbag}}
                    {{renult.Passenger_Airbag}}
                    {{nissan.Passenger_Airbag}}
                    {{datsun.Passenger_Airbag}}
                    {{jaguar.Passenger_Airbag}}</td>
                  </tr>

                <tr>
                    <td>Fog Lights - Front</td>
                    <td>{{tata_car.Fog_Lights_Front}}
                        {{jaguar.Fog_Lights_Front}}
                    {{mahindra.Fog_Lights_Front}}
                    {{hundai.Fog_Lights_Front}}
                    {{honda.Fog_Lights_Front}}
                    {{ford.Fog_Lights_Front}}
                    {{renult.Fog_Lights_Front}}
                    {{nissan.Fog_Lights_Front}}
                    {{datsun.Fog_Lights_Front}}
                        {{jaguar.Fog_Lights_Front}}
                    </td>
                  </tr>

            </tbody>
          </table>

           </div>
     </div>
</section>
<!-- key features close hear -->
<br>
<!-- car spacification start hear full -->


<!--Fuel & Performance start -->
<br>


{% endblock %}